
{{ $atk_url := getenv "ATK_SITE_URL" }}

<!-- CSS -->
<link href="{{ $atk_url }}/dist/Artalk.css" rel="stylesheet" />

<!-- JS -->
<script src="{{ $atk_url }}/dist/Artalk.js"></script>


<div id="artalk-comments"></div>

<script>
  Artalk.init({
    el:        '#artalk-comments',          // 绑定元素的 Selector
    pageKey:   '{{ .Page.Path }}',          // 固定链接
    pageTitle: '{{ .Page.Title }}',         // 页面标题 (留空自动获取)
    server:    '{{ $atk_url }}',        // 后端地址
    site:      '{{ site.Title }}',          // 你的站点名
  })
</script>

